.container {
  margin-top: 15px;
}

.folders__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.folders__link {
  margin: 10px;
  padding: 15px;
  max-width: 100px;
  text-decoration: none;
  color: black;
  position: relative;
}

.folders__link:hover {
  text-decoration: none;
  color: black;
}

.folders__link--icon::before {
  content: "";
  background: url("../image/icons8-папка-документов-64.png") center no-repeat;
  width: 111px;
  height: 111px;
  position: absolute;
  left: -75px;
  top: -30px;
}
