.notePage__button {
  background-color: white;
  background-image: url(../components/Notes/image/icons8-добавить-файл-64.png);
  height: 64px;
  width: 64px;
  border: none;
  position: fixed;
  right: 10px;
  bottom: 10px;
}

.noteItemPage__button {
  background-color: white;
  background-image: url(../components/Notes/image/icons8-добавить-список-64.png);
  height: 64px;
  width: 64px;
  border: none;
  position: fixed;
  right: 10px;
  bottom: 10px;
}

.app-header__button {
  background-image: url(../components//Folders/image/icons8-добавить-папку-64.png);
  width: 64px;
  height: 64px;
  border: none;
  background-color: white;
  position: fixed;
  right: 10px;
  bottom: 10px;
}

.folders,
.notes {
  display: table;
  width: auto;
  margin: 10px auto;
  padding: 5px;
  letter-spacing: 2px;
  background: #93b5cf;
  border: 2px dashed rgb(110, 109, 109);
  color: rgb(110, 109, 109);
  box-shadow: 0 0 0 4px #cbdcea;
}
