.app-header {
  background-image: url(./image/background9.jpg);
  display: inline-flex;
  justify-content: space-between;
  height: 100px;
  width: 100%;
  border-bottom: 5px solid rgba(0, 0, 0, 0.1);
}

.app-header__nav {
  display: inline-flex;
}

.app-header__link {
  display: table;
  width: auto;
  margin: 20px;
  padding: 10px;
  letter-spacing: 2px;
  background: #93b5cf;
  border: 2px dashed rgb(110, 109, 109);
  color: rgb(110, 109, 109);
  box-shadow: 0 0 0 4px #cbdcea;
}

.app-header__link:hover {
  text-decoration: none;
  color: black;
  border: 2px dashed black;
}
